<div class="bg-[#015175] p-4 flex flex-col items-center justify-start">
  <div class="w-full max-w-7xl h-20 px-4 flex items-center justify-between">
    <img src="../assets/300x.png" class="h-10 md:h-full" alt="">
    <div class="flex flex-col items-center justify-center">
      <h1 class="font-[fanfareTicker] text-white text-2xl md:text-3xl lg:text-5xl">THE DAO COMMUNITY</h1>
      <h1 class="text-xs font-thin md:my-2 text-white">MEMBER ENROLLMENT PLATFORM</h1>
    </div>
    <img src="../assets/vitlogo.png" class="h-10 md:h-full" alt="">
  </div>
  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="w-full text-white max-w-7xl my-16 flex flex-col items-start justify-start px-4">
    <h1 class="text-lg">Hey There!👋</h1>
    <p class="text-lg mt-8">Thanks a lot for showing interest in the DAO Community. It wouldn't be possible for us to
      bring this revolutionary idea up and running if you aren't a part of it. Decentralization and Inclusion is the
      core value around which a DAO survives!🤗</p>
    <p class="text-lg mt-8">Now, let's get you onboarded!💼</p>
    <h1 class="text-3xl font-bold mt-8">What we expect in you:</h1>
    <ul class="py-4">
      <li class="my-2 ml-2">🔎 Googling</li>
      <li class="my-2 ml-2">📚 Willingness to learn</li>
      <li class="my-2 ml-2">🧩 Basic idea of Chrome Extensions and Cryptography (Optional)</li>
      <li class="my-2 ml-2">🏛️ Belief in Democracy</li>
      <li class="my-2 ml-2">💫 Never-ending supply of enthusiasm</li>
    </ul>
    <h1 class="text-3xl font-bold mt-8">What you can expect from us:</h1>
    <ul class="py-4">
      <li class="my-2 ml-2">🔗 Work Experience in the Blockchain & Web3 domain</li>
      <li class="my-2 ml-2">⚖️ Equal and unbiased treatment of all members</li>
      <li class="my-2 ml-2">🔓 Exposure to next-generation of Organizational Structures</li>
      <li class="my-2 ml-2">🌐 Interactions with global leaders in the space</li>
      <li class="my-2 ml-2">💰 Bountiful reward in governance tokens for every contribution</li>
    </ul>
    <h1 class="text-base font-bold mt-8">Let's get started with your onboarding!</h1>
    <h1 class="text-4xl font-bold mt-12">Tutorial for the impatients:</h1>
    <div class="text-lg mt-8 font-bold">
      <h1 class="italic text-base font-normal">NOTE: This would only be suitable for people familiar with on-chain
        activities.
        If you're new to the space, or feel uncomfortable with brief explanations, head down to an elaborate tutorial
      </h1>
      <br>
      <div class="text-lg mt-2 font-normal">
        <b>Objective:</b> call the function
        <h1 class="font-mono inline-block my-1 font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">enrollMember()</h1>
        with appropriate parameters
        <h1 class="font-mono inline-block my-1 font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">string <h1
            class="text-green-500 inline">_name</h1>, string <h1 class="text-green-500 inline">_uid</h1>, string <h1
            class="text-green-500 inline">_officialEmail</h1>, string <h1 class="text-green-500 inline">_phoneNumber
          </h1>, string <h1 class="text-green-500 inline">_whatsappNumber</h1>
        </h1>
        from the contract
        <h1 class="font-mono inline-block my-1 font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">{{address}}</h1>
      </div>
      <h1 class="font-extralight italic mt-8">Hint: Methods can be called through the explorer</h1>
      <div class="text-lg mt-4 p-4 border border-white rounded-xl font-normal">
        <b>Network Details:</b>
        <ul>
          <li class="my-2 ml-2">Name: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">Fantom Testnet</h1>
          </li>
          <li class="my-2 ml-2">RPC URL: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">
              https://rpc.testnet.fantom.network </h1>
          </li>
          <li class="my-2 ml-2">ChainID: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">4002</h1>
          </li>
          <li class="my-2 ml-2">Symbol: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">FTM</h1>
          </li>
          <li class="my-2 ml-2">Block Explorer URL: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">
              https://testnet.ftmscan.com/</h1>
          </li>
          <li class="my-2 ml-2">Faucet URL: <h1
              class="font-mono inline-block font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">
              https://faucet.fantom.network/</h1>
          </li>
        </ul>
      </div>
    </div>
    <h1 class="text-4xl font-bold mt-12">Elaborate Tutorial:</h1>
    <ol class="m-4">
      <li>1. Download Metamask (or any EVM wallet that suits you) from the <a class="underline font-bold"
          href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn">Chrome Web
          Store</a> (PC) or <a class="underline font-bold" href="https://metamask.app.link/bxwkE8oF99">Play Store</a>/
        <a class="underline font-bold" href="https://metamask.app.link/skAH3BaF99">App Store</a> (Mobile)</li> <br>
      <li>2. Follow the instructions, and take a backup. <br><br>
        <h1 class="italic text-sm"> Please note: Do not share your private key with anyone. It may cause a loss of funds
        </h1> <br>
      </li>
      <li>3. Connect to a custom RPC as shown in this tutorial: <a class="font-bold underline"
          href="https://docs.fantom.foundation/tutorials/set-up-metamask-testnet">CLICK HERE!</a></li> <br>
      <li>4. Head over to the official faucet page to get some free testing crypto: <a class="font-bold underline"
          href="https://faucet.fantom.network/">CLICK HERE!</a> </li> <br>
      <li>5. Open up the Fantom testnet block explorer (look around this page for the link 😜), and search for the
        contract address mentioned in objective</li><br>
      <li>6. Find and head over to contract section. Click on Write</li><br>
      <li>7. Connect your wallet (Use walletconnect if downloaded on mobile)</li><br>
      <li>8. Fill the parameters of <h1
          class="font-mono inline-block my-1 font-thin bg-black rounded-xl p-1 px-2 bg-opacity-25">enrollMember()</h1>
        function, and send!</li><br>
      <li>9. The network will deduct some fees for transacting, but don't worry, it's free crypto</li><br>
      <li>10. Once transaction completes successfully, <a routerLink="/enrolled" class="underline">click here</a> to check your name!
      </li>
    </ol>
    <h1 class="text-4xl font-bold mt-12">Contact 📞</h1>
    <h1>Contact the Coordinators if you complete the challenge successfully, or run into some issues.. We are here to
      help! </h1>
    <ul>
      <li class="my-4 text-xl">Shaan Sundar:
        <ul>
          <li class="my-2 ml-2 text-base">WhatsApp: <a href="https://wa.me/919993431675" class="underline">+91 99934 31675</a></li>
          <li class="my-2 ml-2 text-base">Instagram: @notthatsundar</li>
          <li class="my-2 ml-2 text-base">Linkedin: <a href="https://linkedin.com/in/notthatsundar" class="underline">https://linkedin.com/in/notthatsundar</a></li>
        </ul>
      </li>
      <li class="my-4 text-xl">Shreyas Sai:
        <ul>
          <li class="my-2 ml-2 text-base">WhatsApp: <a href="https://wa.me/919663380203" class="underline">+91 96633 80203</a></li>
          <li class="my-2 ml-2 text-base">Instagram: @_shreyas_sai_</li>
          <li class="my-2 ml-2 text-base">Linkedin: <a href="https://linkedin.com/in/shreyas-sai-5ab53a172/" class="underline">https://linkedin.com/in/shreyas-sai-5ab53a172/</a></li>
        </ul>
      </li>
    </ul>
  </div> -->
</div>